@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Raleway|Roboto+Condensed|Roboto+Mono|Roboto+Slab);body,
html {
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 480px) {
  .crop {
    height: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .crop {
    height: 300px;
  }
}

@media screen and (max-width: 480px) {
  .portfolio-image {
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-image {
    height: 300px;
  }
}

.portfolio-image .portfolio-image-tall {
  height: 400px;
}

.culture {
  height: 90px;
}

.rounded {
  border-radius: 10px;
}

